.page-header{
	background-color: #DBEAFE; 
	border-radius: 5px; 
	color:#000 ;
	font-size: 20px;
	padding: 10px;
	margin-top: 7px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}