<div style="overflow: hidden;">
    <mat-toolbar [style.background-color]="'#DBEAFE'" class="d-flex justify-content-between">
      <div>View Idea</div>
      <mat-icon [mat-dialog-close]="">close</mat-icon>
    </mat-toolbar>
    <div class="container">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Problem</mat-label>
          <textarea type="text" [(ngModel)]="stag.problem" name="problem" matInput placeholder="Problem" required readonly></textarea>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solution</mat-label>
          <textarea mat-input type="text" [(ngModel)]="stag.solution" name="solution" matInput placeholder="Solution" required readonly></textarea>
        </mat-form-field>

        <table width="100%">
            <tr>
              <td style="padding-right: 10px;"  >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Remarks</mat-label>
                  <input type="text" [(ngModel)]="stag.remarks" name="remarks" matInput placeholder="Remarks" required readonly>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Area</mat-label>
                  <input type="text" [(ngModel)]="stag.area" name="area" matInput placeholder="Area" required readonly>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table width="100%">
            <tr>
              <td style="padding-right: 10px;">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Status</mat-label>
                  <input type="text" [(ngModel)]="stag.status" name="status" matInput placeholder="Status" readonly>
                </mat-form-field>
              </td>  
              <td>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Potential Customers</mat-label>
                  <input type="text" [(ngModel)]="stag.potentialCustomers" name="potentialCustomers" matInput placeholder="Potential Customers" readonly>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table width="100%">
            <tr>
              <td style="padding-right: 10px;">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Workflow Status</mat-label>
                  <input type="text" [(ngModel)]="stag.workFlowStatus" name="workFlowStatus" matInput placeholder="Workflow Status" readonly>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Business Unit</mat-label>
                  <input type="text" [(ngModel)]="stag.businessUnitBU_Name" name="businessUnit" matInput placeholder="Business Unit" readonly>
                </mat-form-field>
              </td>  
            </tr>
          </table>
      
        </div>
        <div class="text-center col-12">
          <button [mat-dialog-close]="" mat-raised-button color="primary" (click)="getID(stag)">Back to list</button>
        </div>
      </div>
      
